@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #afd275;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --white-color: #fdfdfd;
}

.dark-mode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.7);
}

html {
  font-size: 80%;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
  overflow-y: hidden;
}

span {
  color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btn.hovered:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background-color: var(--main-color);
}

.footer-text p {
  font-size: 1.6rem;
  color: var(--white-color);
}

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--white-color);
  border-radius: 0.8rem;
  border: 0.2rem solid var(--main-color);
  outline: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.footer-iconTop a.hovered:hover {
  outline-color: var(--white-color);
}
.footer-iconTop a i {
  font-size: 2.4rem;
  color: #333;
}
