@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  text-decoration: none;
}

:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #afd275;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --white-color: #fdfdfd;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

section {
  min-height: 100vh;
  padding: 10rem 7% 2rem;
}

span {
  color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  color: var(--white-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}
