.skills .skills-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-container .skills-box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 2rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  text-align: center;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  transition: 0.5s ease;
}

.skills-container .skills-box:hover {
  box-shadow: 0 0.1rem 2rem var(--shadow-color);
  transform: scale(1.02);
}

.skills-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.skills {
  display: flex;
  min-height: auto;
  padding-top: 12rem;
  padding-bottom: 10rem;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.skills h2 {
  margin-bottom: 2rem;
}

.skills-box h3 {
  font-size: 2.6rem;
  transition: 0.3s ease;
}

.skills-box:hover h3 {
  color: var(--main-color);
}

.skills-box:hover .category {
  color: var(--main-color);
}

.skills-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
